<div>
  <p>投稿アプリ</p>
  <p>
    <%= current_user.present? ? current_user.advertisements.count : 0 %>
  </p>
</div>
<div>
  <p>フォロー中</p>
  <p>
    <%= current_user.present? ? current_user.active_relationships.count : 0 %>
  </p>
</div>
<div>
  <p>フォロワー</p>
  <p>
    <%= current_user.present? ? current_user.passive_relationships.count : 0 %>
  </p>
</div>
