<section class="adEdit">
  <h2 style="display:none;">投稿内容編集</h2>
  <div class="adEdit__container adEdit-container">
    <div class="adEdit-container__form">
      <%= render 'form' %>
    </div>
  </div>
</section>
