<% if current_user.present? %>
  <%= render 'layouts/header' %>
<% else %>
  <%= render 'layouts/others_header' %>
<% end %>
<section id="advertisements_index_sec01">
  <%= render partial: 'index', locals: { advertisements: @advertisements } %>
</section>
