<%= render 'layouts/header' %>
<section id="advertisements_new_sec01">
  <h2 class="page_title">広告依頼の作成</h2>
  <div class="advertisements_form">
    <%= render 'form', advertisement: @advertisement %>
  </div>
</section>
