<section class="adNew">
  <h2 style="display:none;">広告依頼作成</h2>
  <div class="adNew__container adNew-container">
    <div class="adNew-container__form">
      <%= render 'form', advertisement: @advertisement %>
    </div>
  </div>
</section>
