@import '../../../setting/*';
@import '../../../mixin/*';


/* Block layer01 */
.homeRoot {
  width: 100%;
  &__container {
    width: 100%;
    min-width: 1100px;
  }
}
@media screen and (max-width: 768px) {
  .homeRoot {
    width: 100%;
    &__container {
      width: 100%;
      min-width: auto;
    }
  }
}

/* Block layer02 */
.homeRoot-container {
  %__areaCommon {
    width: 100%;
    min-width: 1100px;
    overflow: hidden;
  }
  &__topArea {
    @extend %__areaCommon;
    height: 850px;
    background: linear-gradient(120deg, colors(mainRed) 10%, colors(mainOrange), colors(mainYellow));
  }
  &__aboutArea {
    @extend %__areaCommon;
  }
  &__introArea {
    @extend %__areaCommon;
    background: linear-gradient(120deg, colors(mainRed) 10%, colors(mainOrange), colors(mainYellow));
  }
  &__usageArea {
    @extend %__areaCommon;
  }
}
@media screen and (max-width: 768px) {
  .homeRoot-container {
    %__areaCommon {
      min-width: auto;
    }
    &__topArea {
      height: 1030px;
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container {
    &__topArea {
      height: 100vh;
    }
  }
}

/* Block layer03 */
.homeRoot-container-topArea {
  &__wrap {
    @extend %__wrapCommon;
  }
}

.homeRoot-container-aboutArea {
  &__wrap {
    @extend %__wrapCommon;
    padding: 60px 0 100px;
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-aboutArea {
    &__wrap {
      padding: 50px 30px;
    }
  }
}

.homeRoot-container-introArea {
  &__wrap {
    @extend %__wrapCommon;
    font-size: 0;
    padding: 100px 20px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .homeRoot-container-introArea {
    &__wrap {
      padding: 80px 40px;
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-introArea {
    &__wrap {
      padding: 50px 30px;
    }
  }
}

.homeRoot-container-usageArea {
  &__wrap {
    @extend %__wrapCommon;
    font-size: 0;
    padding: 80px 20px;
    text-align: center;
  }
}
%__wrapCommon {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .homeRoot-container-usageArea {
    &__wrap {
      padding: 80px 70px;
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-usageArea {
    &__wrap {
      padding: 50px 30px;
    }
  }
}

/* Block layer04 */
.homeRoot-container-topArea-wrap {
  %__titleCommon {
    width: 610px;
    position: absolute;
    color: colors(white);
    z-index: 1;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  &__title {
    @extend %__titleCommon;
    top: 180px;
    right: 20px;
    font-size: 60px;
  }
  &__subTitle {
    @extend %__titleCommon;
    top: 380px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  &__btnBox {
    width: 610px;
    position: absolute;
    top: 470px;
    right: 20px;
    font-size: 13px;
    z-index: 1;
    font-size: 0;
    a {
      @include _btn(49%, 46px, 3px, colors(white), colors(white));
      font-size: 17px;
      display: inline-block;
      color: colors(mainOrange);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      transition: 0.3s ease-out;
      &:first-child {
        margin-right: 2%;
      }
      &:hover {
        letter-spacing: 0.05em;
        color: colors(mainRed);
      }
    }
  }
  &__mainImg {
    position: absolute;
    top: 140px;
    left: -60px;
    width: 650px;
    height: auto;
    img {
      width: 100%;
      height: auto;
      opacity: 0.7;
    }
  }
  &__slantLine {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 250%;
    height: 190px;
    background-color: colors(mainBg);
    transform: rotate(-5deg) translateX(-50%);
  }
  &__arwBtn {
    width: 80px;
    height: 80px;
    background-color: colors(white);
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 70px;
    right: 20px;
    transition: 0.3s ease-out;
    i {
      transition: 0.3s ease-out;
      font-size: 30px;
      line-height: 80px;
      color: colors(mainOrange);
    }
    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      i {
        color: colors(mainRed);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .homeRoot-container-topArea-wrap {
    &__title {
      position: static !important;
      text-align: center;
      font-size: 60px;
      margin: 130px auto 0;
    }
    &__subTitle {
      position: static !important;
      text-align: center;
      font-size: 24px;
      margin: 10px auto 0;
    }
    &__btnBox {
      position: static !important;
      margin: 50px auto 0;
    }
    &__mainImg {
      top: 350px;
      left: 40px;
    }
    &__slantLine {
      display: none;
    }
    &__arwBtn {
      display: none;
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-topArea-wrap {
    %__titleCommon {
      width: 100%;
    }
    &__title {
      font-size: 30px;
      margin: 100px auto 0;
    }
    &__subTitle {
      position: static !important;
      text-align: center;
      font-size: 14px;
      margin: 10px auto 0;
    }
    &__btnBox {
      width: 100%;
      box-sizing: border-box;
      padding: 0 30px;
      position: static;
      font-size: 13px;
      margin: 25px auto 0;
      a {
        width: 100%;
        font-size: 17px;
        display: block;
        &:first-child {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
    &__mainImg {
      width: 400px;
      top: 270px;
      left: -10px;
    }
    &__slantLine {
      display: none;
    }
    &__arwBtn {
      display: none;
    }
  }
}
@media screen and (max-width: 320px) {
  .homeRoot-container-topArea-wrap {
    &__title {
      font-size: 26px;
      margin: 100px auto 0;
    }
    &__subTitle {
      font-size: 12px;
      margin: 10px auto 0;
    }
    &__mainImg {
      width: 300px;
      top: 260px;
      left: 10px;
    }
  }
}

.homeRoot-container-aboutArea-wrap {
  %__aboutAreaCommon {
    padding: 0 20px;
  }
  &__textArea {
    @extend %__aboutAreaCommon;
  }
  &__infographicArea {
    @extend %__aboutAreaCommon;
    letter-spacing: -1em;
    margin-top: 40px;
    div {
      display: inline-block;
      width: 33.3%;
      letter-spacing: normal;
      vertical-align: middle;
    }
  }
  &__button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .homeRoot-container-aboutArea-wrap {
    &__textArea {
      padding: 0 50px !important;
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-aboutArea-wrap {
    &__textArea {
      padding: 0 !important;
    }
    &__infographicArea {
      margin-top: 30px;
      padding: 0 !important;
      transform: scale(1.18);
      transform-origin: center;
    }
    &__button {
      @include _btn(100%, 46px, 3px, colors(mainRed), colors(mainRed));
      box-shadow: 0 1px 2px colors(black, clear);
      color: colors(white);
      margin: 50px auto 0;
    }
  }
}

.homeRoot-container-introArea-wrap {
  a {
    @include _btn(340px, 46px, 3px, colors(white), colors(mainOrange));
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-right: 30px;
    margin-top: 20px;
    border: none;
    box-shadow: 0 1px 2px colors(black, clear);
  }
  &__content {
    display: inline-block;
    width: 30%;
    margin-left: 5%;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
    p {
      margin-top: 30px;
      font-size: 26px;
      text-align: center;
      color: colors(white);
      font-weight: bold;
    }
    span {
      display: block;
      margin: 30px 0 20px;
      color: colors(white);
      font-size: 17px;
      line-height: 40px;
      text-align: justify;
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-introArea-wrap {
    a {
      width: 100%;
    }
    &__content {
      display: block;
      width: 100%;
      margin-bottom: 50px;
      margin-left: 0;
      p {
        margin-top: 10px;
        font-size: 24px;
      }
      span {
        display: block;
        margin: 10px 0 0;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

.homeRoot-container-usageArea-wrap {
  &__title {
    font-size: 40px;
    font-weight: bold;
    color: colors(mainRed);
    margin-bottom: 30px;
    i {
      font-size: 40px;
      margin-right: 10px;
    }
  }
  &__slider {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .homeRoot-container-usageArea-wrap {
    &__slider {
      height: 600px;
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-usageArea-wrap {
    &__slider {
      height: 500px;
    }
    &__title {
      font-size: 25px;
      margin-bottom: 20px;
      i {
        font-size: 25px;
        margin-right: 5px;
      }
    }
  }
}

/* Block layer05 */
.homeRoot-container-aboutArea-wrap-textArea {
  &__title {
    font-family: "Avenir Next", Verdana;
    text-align: left;
    font-size: 80px;
    font-weight: normal;
    color: colors(mainRed);
  }
  &__subTitle {
    text-align: left;
    font-size: 24px;
    color: colors(gray);
    letter-spacing: 0.03em;
  }
  &__content {
    width: 600px;
    text-align: justify;
    font-size: 18px;
    padding-top: 35px;
    line-height: 35px;
  }
}
@media screen and (max-width: 768px) {
  .homeRoot-container-aboutArea-wrap-textArea {
    &__content {
      width: auto;
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-aboutArea-wrap-textArea {
    &__title {
      font-size: 35px;
    }
    &__subTitle {
      font-size: 18px;
    }
    &__content {
      width: 100%;
      font-size: 16px;
      padding-top: 30px;
      line-height: 30px;
    }
  }
}

.homeRoot-container-aboutArea-wrap-infographicArea {
  %__infographicAreaCommon {
    border: solid 2px colors(mainRed);
    border-radius: 50%;
    position: relative;
    text-align: center;
    &:before {
      display: block;
      content: "";
      padding-top: 100%;
    }
  }
  &__developer {
    @extend %__infographicAreaCommon;
    left: 30px;
  }
  &__snsowner {
    @extend %__infographicAreaCommon;
    right: 30px;
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-aboutArea-wrap-infographicArea {
    &__developer {
      border: solid 1px colors(mainRed);
      left: 15px;
    }
    &__snsowner {
      border: solid 1px colors(mainRed);
      right: 15px;
    }
  }
}

.homeRoot-container-usageArea-wrap-slider {
  &__content {
    display: inline-block;
    height: 500px !important;
    text-align: center;
    p {
      font-size: 20px;
      padding: 20px 0;
      font-weight: bold;
    }
    span {
      display: block;
      width: 340px;
      text-align: justify;
      margin: 30px auto;
      color: colors(gray);
      font-size: 14px;
    }
    img.img_0 {
      height: 400px;
      width: auto;
      margin: 0 auto;
    }
    img.img_1 {
      width: 340px;
      height: auto;
      margin: 0 auto;
    }
    img.img_2 {
      width: 340px;
      height: auto;
      margin: 0 auto;
    }
    img.img_3 {
      width: 340px;
      height: auto;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 768px) {
  .homeRoot-container-usageArea-wrap-slider {
    &__content {
      display: inline-block;
      height: 600px !important;
      text-align: center;
      p {
        font-size: 24px;
      }
      span {
        width: 500px;
        font-size: 16px;
      }
      img.img_0 {
        height: 500px;
      }
      img.img_1 {
        width: 500px;
      }
      img.img_2 {
        width: 500px;
      }
      img.img_3 {
        width: 500px;
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-usageArea-wrap-slider {
    &__content {
      display: inline-block;
      height: 500px !important;
      text-align: center;
      p {
        font-size: 18px;
      }
      span {
        width: 100%;
        font-size: 16px;
      }
      img.img_0 {
        height: 400px;
      }
      img.img_1 {
        width: 100%;
      }
      img.img_2 {
        width: 100%;
      }
      img.img_3 {
        width: 100%;
      }
    }
  }
  // slick矢印非表示
  .slick-prev:before, .slick-next:before {
    display: none;
  }
}

/* Block layer06:last */
.homeRoot-container-aboutArea-wrap-infographicArea-developer {
  &__textTop {
    @extend %__roundText;
    top: 18px;
  }
  &__round {
    @extend %__round;
  }
  &__textBottom {
    @extend %__roundText;
    bottom: 18px;
  }
}

.homeRoot-container-aboutArea-wrap-infographicArea-e-adappter {
  &__round {
    position: relative;
    width: 100% !important;
    background: linear-gradient(120deg, colors(mainRed) 10%, colors(mainOrange), colors(mainYellow));
    border-radius: 50%;
    box-shadow: 0 2px 6px colors(black, clear);
    z-index: 1;
    text-align: center;
    &:before {
      display: block;
      content: "";
      padding-top: 100%;
    }
    p {
      position: absolute;
      display: inline-block;
      bottom: 0;
      right: 0;
      top: 60%;
      left: 50%;
      width: 100%;
      transform: translateY(-50%) translateX(-50%);
      font-family: "Avenir Next", Verdana;
      color: colors(white);
      font-size: 52px;
      margin: auto;
    }
  }
}
@media screen and (max-width: 768px) {
  .homeRoot-container-aboutArea-wrap-infographicArea-e-adappter {
    &__round {
      p {
        font-size: 38px;
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .homeRoot-container-aboutArea-wrap-infographicArea-e-adappter {
    &__round {
      p {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .homeRoot-container-aboutArea-wrap-infographicArea-e-adappter {
    &__round {
      p {
        font-size: 13px;
      }
    }
  }
}

.homeRoot-container-aboutArea-wrap-infographicArea-snsowner {
  &__textTop {
    @extend %__roundText;
    top: 18px;
  }
  &__round {
    @extend %__round;
  }
  &__textBottom {
    @extend %__roundText;
    bottom: 18px;
  }
}

%__roundText {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: colors(mainRed);
  font-size: 15px;
}
%__round {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70% !important;
  height: 70%;
  margin: auto;
  background: linear-gradient(120deg, colors(mainRed) 10%, colors(mainOrange), colors(mainYellow));
  border-radius: 50%;
  box-shadow: 0 2px 6px colors(black, clear);
  &:before {
    display: block;
    content: "";
    padding-top: 100%;
  }
  i {
    position: absolute;
    font-size: 85px;
    color: colors(white);
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    &.fa-comment {
      font-size: 32px;
      right: 60px;
      top: 20%;
      left: auto;
    }
  }
  p {
    position: absolute;
    font-size: 18px;
    color: colors(white);
    bottom: 22%;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  %__roundText {
    font-size: 11px;
  }
  %__round {
    i {
      font-size: 55px;
      &.fa-comment {
        font-size: 22px;
        right: 40px;
      }
    }
    p {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 414px) {
  %__roundText {
    display: none;
  }
  %__round {
    i {
      font-size: 20px;
      &.fa-comment {
        font-size: 12px;
        right: 15px;
      }
    }
    p {
      font-size: 10px;
    }
  }
}
@media screen and (max-width: 360px) {
  %__round {
    i {
      font-size: 30px;
      &.fa-comment {
        font-size: 10px;
        right: 10px;
      }
    }
    p {
      display: none;
    }
  }
}
