/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page_title {
   display: none;
}


/*------------------------------------------------------------
    _homes_header.html.erb
------------------------------------------------------------*/
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 2;
}
header nav.pc {
  width: 100%;
  height: 100%;
}
header nav.pc.fixed {
  background: -moz-linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  background: -webkit-linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  background: linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  height: 60px;
}
header nav.pc .site_title {
  position: absolute;
  top: 23px;
  left: 60px;
  letter-spacing: 0.05em;
  font-family: "Avenir Next", Verdana;
}
header nav.pc .site_title.fixed {
  top: 16px;
}
header nav.pc .site_title .e-adappter {
  font-size: 36px;
  color: #fff;
  font-weight: normal;
}
header nav.pc .site_title .e-adappter.fixed {
  font-size: 22px;
}
header nav.pc ul.nav_list {
  position: absolute;
  top: 40px;
  right: 60px;
}
header nav.pc ul.nav_list.fixed {
  top: 20px;
}
header nav.pc ul.nav_list li {
  display: inline-block;
  margin-right: 40px;
}
header nav.pc ul.nav_list li:last-child {
  margin-right: 0;
}
header nav.pc ul.nav_list li a {
  font-size: 16px;
  color: #fff;
}


/*------------------------------------------------------------
   _header.html.erb
------------------------------------------------------------*/
#login_header {
  background: -moz-linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  background: -webkit-linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  background: linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  height: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
#login_header nav.pc .site_title {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
}
#login_header nav.pc .site_title a {
  font-size: 23px;
}
#login_header nav.pc .icon {
  position: absolute;
  top: 15px;
  left: 60px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}
#login_header nav.pc .icon img {
  width: 30px;
  height: 30px;
}
#login_header nav.pc .ad_search {
  position: absolute;
  top: 15px;
  left: 100px;
  letter-spacing: -1em;
  font-size: 0;
}
#login_header nav.pc .ad_search .search_field {
  letter-spacing: normal;
  width: 300px;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding: 0 15px;
  font-size: 14px;
  background-color: #fff;
  color: #666;
  box-sizing: border-box;
}
#login_header nav.pc .ad_search .search_btn {
  box-sizing: border-box;
  width: 40px;
  height: 30px;
  border: none;
  color: #C84289;
  padding: 0;
  vertical-align: bottom;
  letter-spacing: 0.2em;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

#login_header nav.pc ul.nav_list {
  position: absolute;
  top: 15px;
}
#login_header nav.pc ul.nav_list li {
  margin-right: 15px;
  vertical-align: top;
}
#login_header nav.pc ul.nav_list li.require_ad a {
  display: block;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  background-color: #C84289;
  border-radius: 5px;
  padding: 0 15px;
}
#login_header nav.pc ul.nav_list li a {
  display: inline-block;
  color: #fff;
  font-size: 12px;
}
#login_header nav.pc ul.nav_list li a i {
  font-size: 22px;
  color: #fff;
  vertical-align: middle;
}
#login_header nav.pc ul.nav_list li#menu_link {
  margin-right: 0;
  margin-left: 40px;
}
#login_header nav.pc ul.nav_list li#menu_link i {
  font-size: 22px;
  color: #fff;
  vertical-align: middle;
}
#login_header nav.pc .icon_link_tab {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 0;
  right: -300px;
  background-color: #E48A7B;
  transition: 0.3s ease-out;
  z-index: 9999;
  border-bottom-left-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#login_header nav.pc .icon_link_tab.open {
  right: 0;
  transition: 0.3s ease-out;
}
#login_header nav.pc .icon_link_tab .close_btn {
  position: absolute;
  width: 60px;
  top: 18px;
  right: 30px;
  text-align: right;
}
#login_header nav.pc .icon_link_tab .close_btn i {
  font-size: 22px;
  color: #fff;
  vertical-align: middle;
}
#login_header nav.pc .icon_link_tab ul {
  padding: 60px 0 0;
}
#login_header nav.pc .icon_link_tab ul li {
  display: block;
  text-align: center;
  width: 170px;
  text-align: right;
}
#login_header nav.pc .icon_link_tab ul li#icon_link {
  width: 170px;
}
#login_header nav.pc .icon_link_tab ul li#icon_link .icon_img {
  border-radius: 5px;
  overflow: hidden;
  width: 100px;
  display: inline-block;
  text-align: right;
}
#login_header nav.pc .icon_link_tab ul li#icon_link img {
  width: 100px;
  height: auto;
}
#login_header nav.pc .icon_link_tab ul li a {
  color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-size: 14px;
}
#login_header nav.pc .icon_link_tab ul li i {
  color: #fff;
  margin-right: 7px;
}
#login_header .notice {
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #55acee;
  color: #fff;
  opacity: 0.9;
  width: 100%;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
#login_header .alert {
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #d9534f;
  color: #fff;
  opacity: 0.9;
  width: 100%;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

/*------------------------------------------------------------
   _others_header.html.erb
------------------------------------------------------------*/
#others_header {
  background: -moz-linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  background: -webkit-linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  background: linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  height: 60px;
}
#others_header nav.pc .site_title {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
}
#others_header nav.pc .site_title a {
  font-size: 23px;
  color: #fff;
  font-weight: normal;
}
/*------------------------------------------------------------
    フッター
------------------------------------------------------------*/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  background: -webkit-linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  background: linear-gradient(120deg, #C84289 10%, #E48A7B, #EDBC6C);
  z-index: 1;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
}
footer nav ul.nav_list {
  position: absolute;
  bottom: 40px;
  left: 60px;
}
footer nav ul.nav_list li {
  display: inline-block;
  margin-right: 20px;
}
footer nav ul.nav_list li:last-child {
  margin-right: 0;
}
footer nav ul.nav_list li a {
  font-size: 14px;
  color: #fff;
}
footer .footer_arrow {
  position: absolute;
  text-align: center;
  top: 25px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
footer .footer_arrow i {
  color: #fff;
  font-size: 40px;
}
footer .footer_title a {
  position: absolute;
  top: 80px;
  right: 60px;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0.05em;
  font-family: "Avenir Next", Verdana;
}
footer .copyright p {
  position: absolute;
  bottom: 40px;
  right: 60px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.03em;
  font-family: "Avenir Next", Verdana;
}
