#comments_area {
  margin: 70px 0 100px;
}
.comment_div {
  width: 500px;
  position: relative;
  margin-bottom: 20px;
}
.comment_div.others {
  margin-left: 0;
}
.comment_div .name {
  font-size: 14px;
}
.comment_div .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  border: solid 1px #ccc;
  overflow: hidden;
}
.comment_div .icon img {
  width: 60px;
  height: auto;
}
.comment_div .fukidashi {
  max-width: calc(100% - 110px);
  background-color: #eee;
  border-radius: 20px;
  padding: 20px 20px 33px;
  color: #fff;
}
.comment_div .fukidashi .content {
  display: inline-block;
  color: #fff !important;
}
.comment_div .date {
  font-size: 10px;
  position: absolute;
}



.comment_div.current_user {
  margin-left: calc(100% - 500px);
}
.comment_div.current_user .name {
  width: calc(100% - 70px);
  text-align: right;
}
.comment_div.current_user .icon {
  position: absolute;
  top: 0;
  right: 0;
}
.comment_div.current_user .fukidashi {
  border-top-right-radius: 0;
  background-color: #E48A7B;
  color: #fff;
}
.comment_div.current_user .date {
  color: #fff;
  bottom: 8px;
  right: 90px;
}



.comment_div.others {
  margin-left: 0;
}
.comment_div.others .name {
  margin-left: 70px;
}
.comment_div.others .icon {
  position: absolute;
  top: 0;
  left: 0;
}
.comment_div.others .fukidashi {
  border-top-left-radius: 0;
  margin-left: 70px;
}
.comment_div.others .fukidashi .content {
  color: #333 !important;
}
.comment_div.others .date {
  color: #333;
  bottom: 8px;
  left: 90px;
}


.comment_input_div .field.content {
  margin: 20px 0 77px;
  position: relative;
}
.comment_input_div .field.content label {
  font-size: 20px;
}
.comment_input_div .field.content .content {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  color: #666;
  height: 110px;
  width: 100%;
  border: solid 1px #EDBC6C;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}
.comment_input_div .field.content .submit_btn {
  color: #fff;
  font-size: 14px;
  height: 27px;
  background-color: #C84289;
  border: solid 1px #C84289;
  border-radius: 30px;
  padding: 0 40px;
  letter-spacing: 0.2em;
  margin-top: 5px;
  position: absolute;
  bottom: -25px;
  right: 0;
}
