.first_confirm_in_btn {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border: solid 1px #C84289;
  border-radius: 30px;
  color: #C84289;
  box-sizing: border-box;
}
.first_confirm_out_btn {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #C84289;
  border-radius: 30px;
  color: #fff;
  box-sizing: border-box;
}
.confirm_msg {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.confirm_btn {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #C84289;
  border-radius: 30px;
  color: #fff;
  box-sizing: border-box;
}
.input_fee_area {
  display: none;
  text-align: center;
  font-weight: bold;
}
.input_fee_area .fee_field {
  width: 100px;
  height: 35px;
  box-sizing: border-box;
  padding: 3px 8px;
  border: solid 1px #EDBC6C;
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
}
.input_fee_area .submit_btn {
  display: inline-block;
  margin-left: 5px;
  width: 200px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #C84289;
  border-radius: 30px;
  color: #fff;
  box-sizing: border-box;
  border: none;
}
.cancel_fee_btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #C84289;
  border-radius: 30px;
  color: #fff;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
.final_confirm_btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #C84289;
  border-radius: 30px;
  color: #fff;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
.conversion_msg {
  border: solid 1px #C84289;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #C84289;
}
