@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('../fonts/Akzidenz-grotesk-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('../fonts/Akzidenz-grotesk-bold.ttf') format('truetype');
  font-weight: 500;
  font-style: bold;
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('../fonts/Akzidenz-grotesk-roman.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}
