@mixin _userCountBox {
  div {
    display: inline-block;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
    p {
      color: colors(black);
      &:first-child {
        font-size: 12px;
      }
      &:last-child {
        font-weight: bold;
      }
    }
  }
}
