<div class="header__flashMessage_type_alert">
  <% if flash[:danger].kind_of?(Array) %>
    <% flash[:danger].each do |danger| %>
      <p><%= danger %></p>
    <% end %>
  <% else %>
    <%= flash[:danger] %>
  <% end %>
</div>
